.header {
  background-color: #8a2b06;
  color: #ffffff !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.site-title {
  color: #ffffff !important;
}

.header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.icons {
  justify-content: right;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
